.register {
  border-style: double;
  border: 2px solid #17a2b8;
  border-radius: 50px;
  background-color: rgb(240, 248, 255, 0.8);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 600px;
}

.register-inner {
  color:black;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bg-register{
  position: relative;
  background: url('../../img/register.jpg') no-repeat center center/cover;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 100%;
}